# This file has been put here by anisble.
# For more info see https://github.com/grebokra/autorice.git

# Please do not change this file by hand unless you are sure
# you are not going to run playbook against this host or your
# changes will be lost on next playbook run.

RUN+="/bin/chgrp video /sys/class/backlight/intel_backlight/brightness"
RUN+="/bin/chmod g+w /sys/class/backlight/intel_backlight/brightness"
