XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.scrollBar: false
XTerm.vt100.foreground: #eeeeee
XTerm.vt100.background: #080808
XTerm.vt100.faceName: DejaVu Sans Mono:style=Book:size=12:antialias=false
XTerm.vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

XTerm.vt100.bellIsUrgent: true
